body {
    background: #f1f1f1;
}

.barra {
    background: green;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}



/*BARRA LATERAL*/


.barra-lateral {
    background: #252121;
    color: #fff;
    min-width: 200px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral a {
    color: #fff;
}


/*ESTILOS MENU*/

.barra-lateral .menu a {
    display: block;
    padding: 40px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}
.barra-lateral .menu a:hover {
    background-color: #003C5D;
    text-decoration: none;
}


/*MAIN*/

.main {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}


}


/*mediaquerys*/

@media screen and (max-width:1300px) {
    .barra-lateral {
        min-width: auto;
    }
    .barra-lateral .menu a span {
        display: none;
    }
    .barra-lateral .menu a i {
        margin: 0;
    }
    .barra {
        min-width: auto;
    }
    
}

@media screen and (max-width:575px) {
    .barra-lateral {
        min-height: auto;
    }
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
    
    body {
        background: #D3D3D3;
        font-size: 16px;
        overflow: visible;
    }
}

.formulariorecursos {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    padding: 20px;
}

.menu {
    border-top: 5px #fff solid;
}

@media screen and (max-width:575px) {
    .barra-lateral {
        height: auto;
    }
    .barra-lateral.menu a {
        display: inline-block;
        border-bottom: none;
    }
    
    body {
        font-size: 16px;
        overflow: visible;
    }
}